body {
  background-color: black;
}

.container {
  background-color: white;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


h1 {
  font-family: 'Bungee Shade', monospace;
  font-size: 10vw;
}

p,li {
  font-family: 'Share Tech Mono', monospace;
  font-size:18px;
}

.small-bread {
  width: 100px;
  height: auto;
}
