body {
  background-color: black;
}

.main {
  background-color: white;
  padding: 50px;
  margin: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 10vw;
}

p,li {
  font-family: 'Share Tech Mono', monospace;
}

.small-bread {
  width: 100%;
  max-width: 80px;
  height: auto;
}
